.entity-labeler {
    border: 1px solid black;
}

.slate-container {
    padding: 1em;
}

.toolbar {
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    border-bottom: 1px solid black;
}
